# gradle

.gradle/
build/
out/
classes/

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/*
!run/kubejs/
!run/config/
run/config/*
!run/config/fabric_loader_dependencies.json
run/kubejs/exported

# datagen
datagen/generated/assets/
datagen/data/
datagen/generated/
datagen/__pycache__/